.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    border-bottom:  3px solid #f1f3f4;

    box-sizing: border-box;
    height: 62px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding-left: 100px;

    font-size: 24px;
    color: #f1f3f4;

};