.container {
    border: 0;
    border-right: 3px solid #f1f3f4;
    position: fixed;
    display: block;
    height: 100%;
    width: 80px;
    background-color: #1e1e1e;
    color: #f1f3f4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    /* define width animation */
    transition-property: width;
    transition-duration: 0.3s;
    transition-delay: 0s;

    z-index: 999;
}

.container:hover {
    width: 200px;
}

.container:hover .optionContainer .optionText {
    /* opacity: 1.0; */
    /* width: 140px;
     */
    flex: 1;
}

.headIcon {
    font-size: 40px;
}

.optionContainer {
    font-size: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;    
    overflow: hidden;

    padding: 5px;
    
    cursor: pointer;
}

.optionContainer:hover {
    color: #1e1e1e;
    background-color: #f1f3f4;
}

.optionContainer svg {
    width: 1em;
    margin-left: 10px;
    margin-right: 10px;
}



.optionText {
    /* width: 0px; */

    font-size: 20px;

    overflow: hidden;

    flex: 0;
    transition-property: flex;
    transition-duration: 0.3s;
    transition-delay: 0s;

}

.container .optionContainer {
    margin-top: 10px;
}

.divideLine {
    background-color: #f1f3f4;
    flex: 0 0 3px;
    align-self: stretch;

    margin-top: 5px;

}