.container {
    margin: 5px;
    padding: 10px;

    border:  2px solid #f1f3f4;
    border-radius: 4px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    cursor: pointer;

    font-size: 16px;
    color: #f1f3f4;
    background-color: inherit;

    transition-property: color;
    transition-duration: 0.3s;
    transition-delay: 0s;

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

.container:hover {
    color: inherit;
    background-color: #f1f3f4;
}

.container:active {
    color: #f1f3f4;
    background-color: #377dc9;
}

.statusIconContainer {
    height: 25px;
    width: 25px;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* background-color: red; */

    margin-right: 5px;
}

.statusIconContainer svg {
    height: 40px;
    width: 40px;
}